html {
    scroll-behavior: smooth;
}
  
* {
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
    background: #3e4358;
    margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}                                                                                                                   
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

section{
    scroll-margin-top: 71px;
}

#inicio{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    height: calc(100vh - 71px);
    align-items: center;
    justify-content: center;
}

.photo{
    max-width: 50%;
    border: 10px solid #23d5ab;
}

.photo img{
    max-height: 70vh;
    filter: brightness(0.8) contrast(0.9);
}

.info{
    width: 50%;
    color: #ffffff;
    padding: 0 20px;
}

header{
    display: flex;
    top: 0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

h1 {
    margin: 0;
    padding: 6px 0; 
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 24px 20px;
}


nav {
    
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    margin: 0 0 0 auto;
}

.link-1 {
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 10px;
}

.link-1:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.sticky .link-1 {
    transition: 0.3s ease;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 10px;
}

.sticky .link-1:hover {
    border-top: 4px solid #23d5ab;
    border-bottom: 4px solid #23d5ab;
    padding: 6px 0; 
    color: #23d5ab;
}


.sticky h1 {
    color: #000000;
}

h2 strong{
    color: #23d5ab;
}

h2{
    font-size: 4em;
    margin: 0;
}

#acerca{
    width: 100%;
    background: #fff;
    
}

#acerca .text{
    padding: 5em 20px;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#acerca h2{
    margin: 0 0 0 auto;
    width: 50%;
}

#acerca p{
    margin: 0 auto 0;
    width: 50%;
}

#proyectos{
    padding: 20px 20px 40px;
}

#proyectos h2{
    color: #fff;
    text-align: center;
}

.mySwiper{
    margin: 40px auto 0;
    max-width: 1240px;
    overflow: hidden;
}

#proyectos .card{
    max-width: 300px;
    background: #fff;
    border-radius: 10px;
    height: 448px;
    overflow: hidden;
}

#proyectos .card-info{
    padding: 20px;
    min-height: 170px;
}

#proyectos .card-photo{
    height: 278px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#educacion{
    border-top: 1px solid #d5cbcb;
    padding: 20px 20px 40px;
    position: relative;
}

.rows-edutacion::after{
    display: block;
    position: absolute;
    content: '';
    width: 5px;
    height: calc(100% - 137px);
    top: 81px;
    background: #23d5ab;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#educacion H2{
    text-align: center;
    color: #fff;
}

.rows-edutacion{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}

.rows-edutacion .row{   
    width: calc(50% - 50px);
    margin: 20px auto 0 0;
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    position: relative;
    text-align: end;
    flex-direction: column;
}

.rows-edutacion .row h3{
    margin: 20px auto 5px;
    width: 100%;
    color: #fff;
}

.rows-edutacion .row:nth-child(2n){
    margin: 0 0 0 auto;
    justify-content: start;
    text-align: start;
}   

.rows-edutacion .row:nth-child(2n)::after{
    right: auto;
    left: -60px;
}

.rows-edutacion .row::after{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #23d5ab;
    display: block;
    right: -60px;
    top: 7px;
    bottom: 0;
    margin: auto 0;

}

.hv{
    padding: 10px 20px;
    font-size: 20px;
    margin: 40px auto 40px 0;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background: #23d5ab;
    color: #fff;
    width: 100%;
    max-width: 200px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.rows-edutacion .row p{
    color: #000000;
}

#skills{
    background: white;
    padding: 0 0 40px;
}

#skills h2{
    text-align: center;
    padding: 20px;
    color: #23d5ab;
}

.rows-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;

}

.flip-container {
    background-color: transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px; 
}

#skills .card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
}
.flip-container:hover .card {
    transform: rotateY(720deg);
}
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

.back > *{
    transform: scaleX(-1);
}

.fa-drupal,
.fa-css3-alt,
.fa-docker,
.fa-react{
    color: #00a2ff;
}

.fa-file-xml{
    color: #000000;
}

.fa-html5,
.fa-square-git,
.fa-ubuntu{
    color: #da691e;
}

.fa-js{
    color: #ffd607;
}

.fa-sass{
    color: #dc6190;
}

.fa-node-js{
    color: #11862d;
} 

.fa-bootstrap{
    color: #9b05cd;
}

.fa-sketch{
    color:#ffc12c;
}

.back {
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}

#contacto{}

#contacto h2{
    text-align: center;
    padding: 20px;
    color: #fff;
}

.rows-concat{
    display: flex;
    margin: 20px auto;
}

.social{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.social:hover{
    cursor: pointer;
}

.social i{
    font-size: 50px;
}

.social:hover i{
    font-size: 100px;
}

footer{
    text-align: center;
    color: #fff;
}

.fa-linkedin{
    color: #0a66c2;
    position: relative;
    transition: 0.9s;
}

.fa-linkedin::after{
    content: '';
    background: #fff;
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 8px;
    left: 2px;
    z-index: -1;
    transition: 0.8s;
}

.linkedin:hover .fa-linkedin::after{
    width: 82px;
    height: 78px;
    top: 7px;
    left: 3px;
    transition: 0.8s;
}

.fa-square-whatsapp{
    color: #25d366;
    position: relative;
}

.fa-square-whatsapp::after{
    content: '';
    background: #fff;
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 6px;
    left: 4px;
    z-index: -1;
}

.fa-envelope{
    color: #fff;
    position: relative;
}

.fa-envelope::after{
    content: '';
    background: #ea4131;
    display: block;
    width: 56px;
    height: 38px;
    position: absolute;
    top: 7px;
    left: -3px;
    z-index: -1;
    border-radius: 6px;
}


/* .whatsapp::before{
    content: '';
    background: #25d366;
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    transition: 0.3s;
} */

.whatsapp:hover:before{
    width: 100%;
    height: 100%;
}

.whatsapp:hover .fa-square-whatsapp{
    color: #25d366;
    position: relative;
    font-size: 200px;
    transition: 0.8s;
}

.whatsapp:hover .fa-square-whatsapp::after{
    content: '';
    background: #fff;
    display: block;
    width: 145px;
    height: 145px;
    position: absolute;
    top: 22px;
    left: 8px;
    z-index: -1;
    transition: 0.85s;
}

.gmail:hover .fa-envelope{
    transition: 0.8s;
}

.gmail:hover .fa-envelope::after{
    width: 106px;
    height: 75px;
    top: 12px;
    left: -3px;
    transition: 0.8s;
} 


/* Estilos del menú hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}   

@media (max-width: 768px){

    h1{
        padding: 15px;
    }

    #inicio{
        width: calc(100% - 30px);
        max-width: 100%;
        flex-direction: column;
        height: calc(100vh - 53px);
    }

    .info{
        width: 100%;
        order: 2;
        padding: 20px 0 0;
    }

    .photo {
        order: 1;
    }

    h2{
        font-size: 2.5em;
        max-width: 68%;
    }

    .hv{
        margin: 20px auto 0 0;
        font-size: 1em;
    }

    nav {
        display: none; /* Oculta el menú en pantallas pequeñas */
        position: absolute;
        top: 53px;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        transition: none;
        padding: 15px 0;
        width: 30%;
        right: 0;
        min-width: 150px;
        box-shadow: 0px 9px 8px rgba(0, 0, 0, 0.5);
    }

    nav a {
        margin-left: 0;
        padding: 15px;
        width: 100%;
        text-align: center;
    }

    nav.active {
        display: flex; 
        z-index: 2;
    }

    .menu-toggle {
        display: flex;
        margin: 8px 15px 0 auto;
    }

    .sticky{
        background-color: #3e4358;
        transition: none;
    }

    .sticky  nav{
        padding: 15px 0;
        width: 30%;
        right: 0;
        min-width: 150px;
        box-shadow: 0px 9px 8px rgba(0, 0, 0, 0.5);
    }

    .link-1{
        transition: none;
        color: #000;
        font-size: 1em;
    }

    .sticky .link-1{
        color: #000;
        font-size: 1em;
    }

    .sticky h1{
        color: #fff;
        transition: none;
    }
    

    #acerca .text{
        padding: 20px 15px;
        flex-direction: column;
        max-width: 100%;
    }

    #acerca h2,
    #acerca p{
        width: 100%;
        margin: 0 auto 20px 0;
    }

    #proyectos h2,
    #educacion H2,
    #skills h2,
    #contacto h2{
        text-align: left;
    }

    .rows-edutacion .row:nth-child(2n){
        margin: 0 auto 0 0;
    }

    .rows-edutacion .row{
        width: 100%;
        justify-content: start;
        text-align: start;
        padding: 0 0 0 20px;
    }

    .rows-edutacion::after{
        margin: 0;
        height: calc(100% - 174px);
        top: 69px;
        left: -1px;
    }

    .rows-edutacion .row:nth-child(2n)::after,
    .rows-edutacion .row::after{
        right: auto;
        left: -9px;
        margin: 0;
        top: 30px;
    }

    #proyectos .card{
        margin: 0 auto;
    }
}